.signup-page {
    background-image: url("Lush.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: fixed;
    width: 100%;
    font-family: "Numans", sans-serif;
}
.container {
    height: 100%;
    align-content: center;
}

.signup-card {
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.8) !important;
    border-left: 5px solid #ec5252;
    border-bottom: 5px solid #ec5252;
    border-right: 5px solid #ec5252;
    border-top: 5px solid #ec5252;
    height: 560px;
    /* margin-top: auto; */
    margin-top: 15px;
    margin-bottom: auto;
    width: 500px;
}
.signup-card-footer {
    margin-top: 0px;
    margin-bottom: 0px;
    background: #313131;
}
.agreement {
    color: white;
}
.agree-check {
    margin-right: 10px;
}
.agree-group {
    margin: 10px;
}
.input-group > .form-control {
    border-bottom-left-radius: 0;
    height: auto;
}
.social span {
    font-size: 40px;
    margin-left: 10px;
}

.fa-facebook-square {
    color: rgb(66, 103, 178);
}
.fa-facebook-square:hover {
    color: rgb(66, 70, 178);
}
.fa-google-plus-square {
    color: rgb(221, 75, 57);
}
.fa-google-plus-square:hover {
    color: rgb(221, 30, 57);
}
.fa-twitter-square {
    color: rgb(56, 161, 243);
}
.fa-twitter-square:hover {
    color: rgb(56, 120, 243);
}
.icon:hover {
    cursor: pointer;
}
.social p {
    margin-top: 20px;
}
.signup-card-header b {
    color: white;
    font-family: "stag Web";
    font-size: 45px;
}
.signup-card-body {
    margin: 10px;
}
.input-group-prepend span {
    width: 50px;
    background-color: #ec5252;

    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.signup_btn {
    color: black;
    background-color: #ec5252;

    width: 100px;
    align-content: center;
}

.signup_btn:hover {
    color: black;
    background-color: white;
}
